@import url('https://fonts.googleapis.com/css?family=Poppins: ital, wght@0, 100;0, 200;0, 300; 0,400; 0,500; 0,600;0, 700;0,800;0,900; 1,100;1,200; 1,300;1,400; 1,500; 1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none; 
    font-family: 'Poppins';
    border: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    list-style: none;
    scroll-behavior: smooth;
}

/*scroll bar*/

::-webkit-scrollbar{
    width: .6rem;
    border-radius: .5rem;
    background-color: #f200ff;
}

::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #00E5BC;
}

::-webkit-scrollbar-thumb:hover{
width: 1rem;
cursor: pointer;
border-radius: .5rem;
background-color: #ffffff;
}

::selection{
    color: #fff;
    background: #00E5BC
}
hr{
    border: dotted #f200ff 6px;
    border-bottom: none;
    width: 4%;
    margin: 10px auto;
}
body{
    background-color: #00284C;
}

/*----header----*/
.header{
    position: fixed;
    width: 100%;
    top:0;
    left: 0;
    z-index: 100;
    background-color: #00284C;
    transition: box-shadow .4s;
}

.nav{
    position: relative;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo{
    display: flex;
    column-gap: .5rem;
    align-items: center;
    font-weight: bold;
    color: #000;
}

.nav__logo-circule, .nav__toggle{
    width: 60px;
    height: 60px;
    background-color: transparent;
    color: #00E5BC;
    display: grid;
    place-items: center;
}

.nav__toggle{
    font-size: 1.25rem;
    cursor: pointer;
}

/*menu responsive para tablet y mobile*/

@media screen and (max-width: 768px) and (max-width: 1024px){
    .container{
        margin-inline: 1rem;
    }

    .nav__menu{
        position: fixed;
        top: -100%;
        left: 0;
        background-color: #000000b6; 
        width: 100%;
        padding-block: 1.8rem 5rem;
        text-align: center;
        backdrop-filter: blur(8px);
        transition: top .4s;
    }

    .nav__name,
    .nav__close{
        color: #fff;
    }

    .nav__title{
        color: #fff;
        display: block;
        font-size: 1.25rem; 
        font-weight: 2rem;
        margin-bottom: 2rem;
    }
    .nav__name{
        position: relative;
        width: max-content;
        margin: 0 auto 2rem;
        font-size: 2rem;
    }

    .nav__name::after,
    .nav__name::before{
        content: '';
        width: 40px;
        height: 1px;
        background-color: var(--color-two);
        position: absolute;
        top: 50%;
        left: -4rem;
    }

    .nav__name::before{
        left: initial;
        right: -4rem;
    }

    .nav__list{
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;
        margin-bottom: 1rem;
    }

    .nav__link{
        position: relative;
        color: #ffffffa4;
        font-size: 1.25rem;
        font-weight: 2rem;
        transition: color .3s;
    }

    .nav__link::after{
        content: '';
        width: 0%;
        height: 2px;
        background-color: var(--color-two);
        position: absolute;
        left: 0;
        bottom: -.5rem;
        transition: width .3s;
    }

    .nav__link:hover{
        color: #ffffff;
    }

    .nav__link:hover::after{
        width: 40%;
    }

    .nav__close{
        position: absolute;
        font-size: 1.5rem;
        top: 2rem;
        right: 1.5rem;
        cursor: pointer;
    }

    /*home*/

    /*about*/
   
}

/*responsive portatil*/

@media screen and (min-width: 769px) {

    /*menu*/
    .container{
        margin-inline: auto;
    }
    .nav{
        padding: 40px;
        column-gap: 2rem;
    }
    .nav__close,
    .nav__toggle,
    .nav__title,
    .nav__name{
        display: none;
    }
    .nav__list{
        padding: 100px;
        display: flex;
        column-gap: 3rem;
        text-decoration: none;
    }
    .nav__menu{
        margin-left: auto;
    }
    .nav__link{
        position: relative;
        color: #00E5BC;
        font-size: 1rem;
        font-weight: 2rem;
        transition: color .3s;
    }
    .nav__link::after{
        content: '';
        width: 0%;
        height: 2px;
        background-color:#f200ff;
        position: absolute;
        left: 0;
        bottom: -.5rem;
        transition: width .3s;
    }
    .nav__link:hover{
        color: #ffffff;
    }
    .nav__link:hover::after{
        width: 100%;
    }
    .active-link{
        color: #000;
    }

    /*home*/
    .top-container{
        background-color:#2A356D;
        padding-top: 200px;
        padding-bottom: 200px;
        text-align: center;
    }
    .top-container h1{
        color: #00E5BC;
        font-size: 100px;
    }
    .top-container h2{
        color: #fff;
        font-size: 40px;
        margin: 20px 16px;
    }
    .last-name{
        color: #01989F;
    }
    .top-container .text{
        display: flex;
        justify-content: center;
        color: #00E5BC;
        font-size: 20px;
    }
    .top-container .text .one{
        color: #ffffff;
        animation: anim 3s linear infinite;
    }
    @keyframes anim{
        0%{
            transform: translate(-111px,0);
            color: #f200ff;
        }
        50%{
            transform: translate(0,0);
            color: #ffffff;
        }
    }
    .top-container .text .two{
        color: #ffffff;
        animation: anima 3s linear infinite;
    }
    @keyframes anima{
        50%{
            transform: translate(0,0);
            color: #ffffff;

        }
        0%{
            transform: translate(111px,0);
            color: #f200ff;
        }
    }

    /*about*/

    .container_about{
        margin-inline: auto;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;    
    }
    div .image-about img{
        width: 500px;
        height: auto;
        padding-top: 100px; 
        padding-bottom: 20px;
        padding-left: 100px;   
        padding-right: 10px;
        border-radius: 100%;
    }
    .text-about{
        text-align: center;
        padding-top: 200px;
        padding-bottom: 200px;
        padding-left: 10px;
        padding-right: 100px;
    }
    .text-about h1{
        font-size: 40px;
        color: #00E5BC;
    }
    .text-about p{
        text-align: center;
        color: #FFF;
        
    }
    .text-gene h1{
        font-size: 40px;
        color: #00E5BC;
        text-align: center;
    }

    /*curriculum*/

    div .image-curriculum img{
        width: 500px;
        height: auto;
        padding-top: 100px; 
        padding-bottom: 20px;
        padding-left: 10px;   
        padding-right: 100px;
        border: none;
    }
    .text-curriculum{
        text-align: center;
        padding-top: 200px;
        padding-bottom: 200px;
        padding-left: 100px;
        padding-right: 10px;
    }
    .text-curriculum h1{
        font-size: 40px;
        color: #00E5BC;
    }

    .text-curriculum p{
        text-align: center;
        color: #FFF;
        
    }
    .text-curriculum button {
        cursor: pointer;
        background-color: transparent;
        border: 2px solid #f200ff;
        width: fit-content;
        display: inline-block; 
        margin: 20px auto; 
        padding: 10px 22px;
        font-size: 16px;
        color: #ffffff;
        position: relative;
        z-index: 10;
    }
    
    .text-curriculum button a {
        color: #fff;
    }
    
    .text-curriculum button .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: #f200ff;
        z-index: -1;
        transition: width 1s;
    }
    
    .text-curriculum button:hover .overlay {
        width: 100%;
        color: #00284C;
    }

    /*------footer-----*/
    .footer-after{
        background: #2A356D;
    }
    .footer {
    position: relative;
    width: 100%;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    background: #2A356D;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }

    .social-icon,
    .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
    }

    .social-icon__item,
    .menu__item {
    list-style: none;
    }

    .social-icon__link {
    font-size: 2rem;
    color: #f200ff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    }
    .social-icon__link:hover {
        color: #fff;
        transform: translateY(-10px);
    }

    .menu__link {
    font-size: 1.2rem;
    color: #ffffff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
    }

    .menu__link:hover {
        color: #00284C;
        opacity: 1;
        background-color: #ffffff;
        padding: 5px 10px;
        border-radius: 30px;
        transition: 0.5s;
    }

    .btn-gmail{
        font-size: 1rem;
        color: #ffffff;
        border: 2px solid #00E5BC;
        margin: 0px 10px;
        padding: 5px 10px;
        display: inline-block;
        transition: 0.5s;
    }

    .btn-gmail:hover {
        color: #fff;
        background-color: #00E5BC;
        transform: translateY(-10px);
    }

    .footer p {
    color: #2a7365;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
    }

}

/*Skills*/

.container__card-primary {
    padding-top: 60px;
}

.card__primary {
    padding: 20px;
    text-align: center;
    padding: 0px 200px;
}

.box__card-primary{
    padding: 20px;
}

.container__box-cardPrimary img {
    width: 30%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container__box-cardPrimary h2 {
    font-size: 17px;
    margin-top: 10px;
    color: #FFF;
}

.container__box-cardPrimary {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    margin-top: 40px;
}

.box__card-primary {
    width: 150px;
    height: 150px;
    border: 2px solid #00E5BC;
    border-radius: none;
    margin: 20px;
    transition: all 300ms;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

.box__card-primary:hover {
    border: none;
    box-shadow: 0px 6px 50px -10px #00E5BC;
}

/*works*/

.works{
    color: #fff;
    padding-top: 60px;
}

.works .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.works h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.works .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.works .galeria .proyecto{
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}
.works .galeria .proyecto img{
    width: 100%;
    display: block;
}
.works .galeria .proyecto .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(#01989F, #2A356D);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}
.works .galeria .proyecto .overlay h3{
    margin-bottom: 20px;
    transition: 1s;
}
.works .galeria .proyecto .overlay:hover{
    opacity: 1;
}
.works .galeria .proyecto .overlay:hover h3{
    margin-bottom: 0px;
}

.works .galeria .proyecto .overlay .btn{
    border: none;
    margin: 5px 0px;
    color: #f200ff;
    background-color: #fff;
}

